<nav class="navbar navbar-expand-lg" style="background-color: #5972a0;">
  <div class="container-fluid">
    <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
      <img alt="home" src="/options.png" style="width: 45px; height: 45px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
      </ul>
      <img alt="home" src="/user.png" style="width: 45px; height: 45px;">
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" data-bs-backdrop="false" style="width: 250px;">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-3">
    <div class="d-flex flex-column align-items-center">
      <a href="#" class="text-decoration-none w-100 text-center p-3 mb-2 bg-light rounded shadow-sm hover-effect">
        <p class="mb-0">Departamentos</p>
      </a>
      <a href="/municipio" class="text-decoration-none w-100 text-center p-3 mb-2 bg-light rounded shadow-sm hover-effect">
        <p class="mb-0">Municipios</p>
      </a>
      <a href="/distrito" class="text-decoration-none w-100 text-center p-3 mb-2 bg-light rounded shadow-sm hover-effect">
        <p class="mb-0">Distritos</p>
      </a>
    </div>
  </div>
</div>
<router-outlet />
