<!--<nav class="navbar navbar-expand-lg bg-body-tertiary">-->
<!--  <div class="container-fluid">-->
<!--    <a aria-current="page" href="#"><img alt="home-departamento" src="/options.png" style="width: 45px; height: 45px;"></a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarScroll">-->
<!--      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="&#45;&#45;bs-scroll-height: 100px;">-->
<!--      </ul>-->
<!--      <img alt="home-departamento" src="/home-departamento.png" style="width: 45px; height: 45px;">-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->


<!--<nav class="navbar navbar-expand-lg" style="background-color: #5972a0;">-->
<!--  <div class="container-fluid">-->
<!--    <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">-->
<!--      <img alt="home-departamento" src="/options.png" style="width: 45px; height: 45px;">-->
<!--    </a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarScroll">-->
<!--      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="&#45;&#45;bs-scroll-height: 100px;">-->
<!--      </ul>-->
<!--      <img alt="home-departamento" src="/user.png" style="width: 45px; height: 45px;">-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<!--<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">-->
<!--  <div class="offcanvas-header">-->
<!--    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>-->
<!--  </div>-->
<!--  <div class="offcanvas-body">-->
<!--    <div class="d-flex flex-column align-items-center">-->
<!--      <img src="/home-departamento.png" alt="Image 1" class="img-thumbnail mb-3" style="width: 100px; height: 100px; object-fit: cover;">-->
<!--      <img src="/lock.png" alt="Image 2" class="img-thumbnail mb-3" style="width: 100px; height: 100px; object-fit: cover;">-->
<!--      <img src="/fav.png" alt="Image 3" class="img-thumbnail mb-3" style="width: 100px; height: 100px; object-fit: cover;">-->
<!--      <img src="/user-sett.png" alt="Image 4" class="img-thumbnail mb-3" style="width: 100px; height: 100px; object-fit: cover;">-->
<!--      <img src="/data.png" alt="Image 5" class="img-thumbnail mb-3" style="width: 100px; height: 100px; object-fit: cover;">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<nav class="navbar navbar-expand-lg" style="background-color: #5972a0;">
  <div class="container-fluid">
    <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
      <img alt="home" src="/options.png" style="width: 45px; height: 45px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
      </ul>
      <img alt="home" src="/user.png" style="width: 45px; height: 45px;">
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" data-bs-backdrop="false">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex flex-column align-items-center">
            <a href="#"><img src="/home.png" alt="Image 1" class="img-thumbnail mb-3" style="width: 50px; height: 50px; object-fit: cover;"></a>
            <a href="/municipio"><img src="/lock.png" alt="Image 2" class="img-thumbnail mb-3" style="width: 50px; height: 50px; object-fit: cover;"></a>
            <a href="/distrito"><img src="/fav.png" alt="Image 3" class="img-thumbnail mb-3" style="width: 50px; height: 50px; object-fit: cover;"></a>
            <img src="/user-sett.png" alt="Image 4" class="img-thumbnail mb-3" style="width: 50px; height: 50px; object-fit: cover;">
            <img src="/data.png" alt="Image 5" class="img-thumbnail mb-3" style="width: 50px; height: 50px; object-fit: cover;">
    </div>
  </div>
</div>
<router-outlet />
