<div class="d-flex justify-content-center align-items-center" style="height: 25vh; margin-top: 20vh">
  <div class="box" style="width: 80%; border: 1px solid #ccc; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); padding: 20px;">
    <div class="row">
      <div class="col-md-4">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputCodigo" placeholder="" name="cCodigo" [(ngModel)]="cCodigo" disabled readonly>
          <label for="floatingInputCodigo">Código</label>
        </div>
        <div class="form-text" id="basic-addon1">Campo deshabilitado.</div>
        <div style="margin-top: 10px;">
          <div class="d-flex ">
            <a class="btn btn-light rounded-circle" style="border: 1px solid #ccc; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); padding: 8px;">
              <img src="/save.png" style="height: 25px; width: 25px;">
            </a>
            <a class="btn btn-light rounded-circle mx-2" (click)="backHome()" style="border: 1px solid #ccc; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); padding: 8px;">
              <img src="/close.png" style="height: 25px; width: 25px;" (click)="backHome()">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputNombre" placeholder="" name="cNombre" [(ngModel)]="cNombre">
          <label for="floatingInputNombre">Nombre</label>
        </div>
        <div class="form-text" id="basic-addon2">Mínimo 5 caracteres, máximo 80.</div>
      </div>
      <div class="form-floating mb-3">
        <input type="hidden" class="form-control" id="floatingInputCodig" placeholder="" name="cId" [(ngModel)]="cId" disabled readonly>
      </div>
    </div>
  </div>
</div>
